@import "reset.scss";
@import "variables.scss";

html,
body {
  font-family: $ff-sb-interface;
  font-size: 16px;
}

._next,
html,
body {
  height: 100%;
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: $c-background;
}

main {
  flex: 1 1 auto;
}
